body {
    background-color: #BBBBBB;
}

div {
    padding-top: 20px;
}

li {
    padding-left: 1rem;
}

img {
    width: 480px;
    height: 360px;
}

.button_cat {
    color: #FFFFFF;
    background-color: #F18A60;
    border-color: #FF7B4A;
}

.button_dog {
    color: #FFFFFF;
    background-color: #083575;
    border-color: #383A70;
}